Repository ska-telescope/sdp-workflows-procfunc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-batch_imaging, publish-batch_imaging, build-delivery, publish-delivery, build-plasma_pipeline, publish-plasma_pipeline, build-pss_receive, publish-pss_receive, build-test_batch, publish-test_batch, build-test_daliuge, publish-test_daliuge, build-test_dask, publish-test_dask, build-test_new_receive, publish-test_new_receive, build-test_realtime, publish-test_realtime, build-test_receive_addresses, publish-test_receive_addresses, build-vis_receive, publish-vis_receive

Path conditions:
  build-batch_imaging: any of: src/batch_imaging/*
  publish-batch_imaging: any of: src/batch_imaging/*
  build-delivery: any of: src/delivery/*
  publish-delivery: any of: src/delivery/*
  build-plasma_pipeline: any of: src/plasma_pipeline/*
  publish-plasma_pipeline: any of: src/plasma_pipeline/*
  build-pss_receive: any of: src/pss_receive/*
  publish-pss_receive: any of: src/pss_receive/*
  build-test_batch: any of: src/test_batch/*
  publish-test_batch: any of: src/test_batch/*
  build-test_daliuge: any of: src/test_daliuge/*
  publish-test_daliuge: any of: src/test_daliuge/*
  build-test_dask: any of: src/test_dask/*
  publish-test_dask: any of: src/test_dask/*
  build-test_new_receive: any of: src/test_new_receive/*
  publish-test_new_receive: any of: src/test_new_receive/*
  build-test_realtime: any of: src/test_realtime/*
  publish-test_realtime: any of: src/test_realtime/*
  build-test_receive_addresses: any of: src/test_receive_addresses/*
  publish-test_receive_addresses: any of: src/test_receive_addresses/*
  build-vis_receive: any of: src/vis_receive/*
  publish-vis_receive: any of: src/vis_receive/*

SIM-925 - New version of batch_imaging -> 0.1.2
  src/batch_imaging/README.md
  src/batch_imaging/requirements.txt
  src/batch_imaging/version.txt
  workflows.json
Due: build-batch_imaging, publish-batch_imaging

SIM-969 - Very minor fix in the doc
  src/vis_receive/README.md
Due: build-vis_receive, publish-vis_receive

SIM-953 Ported pss-receive workflow
  src/pss_receive/README.md
  src/pss_receive/pss_receive.py
  src/pss_receive/requirements.txt
  src/pss_receive/version.txt
Due: build-pss_receive, publish-pss_receive

SIM-953 Updated documentation and workflow.json file
  src/pss_receive/README.md
Due: build-pss_receive, publish-pss_receive

SIM-948: Temporary pipeline to republish workflow images
  .gitlab-ci.yml
  republish-images.py
Due: none

SIM-948: Update workflow definitions
  workflows.json
Due: none

SIM-948: Update dependencies
  src/batch_imaging/Dockerfile
  src/batch_imaging/batch_imaging.py
  src/batch_imaging/requirements.txt
  src/delivery/delivery.py
  src/delivery/requirements.txt
  src/plasma_pipeline/cbf_sdp.py
  src/plasma_pipeline/requirements.txt
  src/pss_receive/pss_receive.py
  src/pss_receive/requirements.txt
  src/test_batch/requirements.txt
  src/test_batch/test_batch.py
  src/test_daliuge/requirements.txt
  src/test_dask/requirements.txt
  src/test_dask/test_dask.py
  src/test_realtime/requirements.txt
  src/test_realtime/test_realtime.py
  src/test_receive_addresses/requirements.txt
  src/test_receive_addresses/test_receive_addresses.py
  src/vis_receive/requirements.txt
  src/vis_receive/vis_receive.py
Due: build-batch_imaging, publish-batch_imaging, build-delivery, publish-delivery, build-plasma_pipeline, publish-plasma_pipeline, build-pss_receive, publish-pss_receive, build-test_batch, publish-test_batch, build-test_daliuge, publish-test_daliuge, build-test_dask, publish-test_dask, build-test_realtime, publish-test_realtime, build-test_receive_addresses, publish-test_receive_addresses, build-vis_receive, publish-vis_receive

SIM-948: Remove stray __init__.py files
  src/batch_imaging/__init__.py
  src/delivery/__init__.py
Due: build-batch_imaging, publish-batch_imaging, build-delivery, publish-delivery

SIM-948: Update Makefile to add Docker image labels
  make/Makefile
Due: none

SIM-948: Update workflow image names
  src/batch_imaging/Makefile
  src/delivery/Makefile
  src/plasma_pipeline/Makefile
  src/pss_receive/Makefile
  src/test_batch/Makefile
  src/test_daliuge/Makefile
  src/test_dask/Makefile
  src/test_realtime/Makefile
  src/test_receive_addresses/Makefile
  src/vis_receive/Makefile
Due: build-batch_imaging, publish-batch_imaging, build-delivery, publish-delivery, build-plasma_pipeline, publish-plasma_pipeline, build-pss_receive, publish-pss_receive, build-test_batch, publish-test_batch, build-test_daliuge, publish-test_daliuge, build-test_dask, publish-test_dask, build-test_realtime, publish-test_realtime, build-test_receive_addresses, publish-test_receive_addresses, build-vis_receive, publish-vis_receive

SIM-948: Update documentation
  docs/src/examples/batch_example.rst
  docs/src/examples/realtime_example.rst
  docs/src/workflow_development.rst
  src/pss_receive/README.md
Due: build-pss_receive, publish-pss_receive

SIM-948: Update CI pipeline
  .gitlab-ci.yml
Due: none

SIM-948: Bump patch version numbers
  src/plasma_pipeline/README.md
  src/plasma_pipeline/version.txt
  src/pss_receive/README.md
  src/pss_receive/version.txt
  src/test_batch/README.md
  src/test_batch/version.txt
  src/test_daliuge/README.md
  src/test_daliuge/version.txt
  src/test_dask/README.md
  src/test_dask/version.txt
  src/test_realtime/README.md
  src/test_realtime/version.txt
  src/test_receive_addresses/README.md
  src/test_receive_addresses/version.txt
  src/vis_receive/README.md
  src/vis_receive/version.txt
  workflows.json
Due: build-plasma_pipeline, publish-plasma_pipeline, build-pss_receive, publish-pss_receive, build-test_batch, publish-test_batch, build-test_daliuge, publish-test_daliuge, build-test_dask, publish-test_dask, build-test_realtime, publish-test_realtime, build-test_receive_addresses, publish-test_receive_addresses, build-vis_receive, publish-vis_receive

SIM-974: update workflow dev doc based on feedback + realtime_example.rst TODO
  docs/src/examples/realtime_example.rst
  docs/src/workflow_development.rst
Due: none

SIM-974: update example workflow documentation
  docs/src/examples/batch_example.rst
  docs/src/examples/realtime_example.rst
Due: none
