Repository ska-telescope/sdp-workflows-procfunc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pss_receive-procfunc, vis_receive-procfunc, build-batch_imaging, build-delivery, build-plasma_pipeline, build-pss_receive, build-test_batch, build-test_daliuge, build-test_dask, build-test_new_receive, build-test_realtime, build-test_receive_addresses, build-vis_receive, publish-batch_imaging, publish-delivery, publish-plasma_pipeline, publish-pss_receive, publish-test_batch, publish-test_daliuge, publish-test_dask, publish-test_new_receive, publish-test_realtime, publish-test_receive_addresses, publish-vis_receive

pss_receive-procfunc:
  stage: build_procfunc
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make
  - cd src/procfunc/pss_receive/pss-receive
  - make build
  - docker login -u $DOCKER_REGISTRY_USERNAME -p $DOCKER_REGISTRY_PASSWORD $DOCKER_REGISTRY_HOST
  - make push

vis_receive-procfunc:
  stage: build_procfunc
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make
  - cd src/procfunc/vis_receive
  - make build DOCKER_REGISTRY_USER=sdp-prototype
  - docker image ls
  - docker login -u $DOCKER_REGISTRY_USERNAME -p $DOCKER_REGISTRY_PASSWORD $DOCKER_REGISTRY_HOST
  ...

build-batch_imaging:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-delivery:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-plasma_pipeline:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-pss_receive:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-test_batch:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-test_daliuge:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

build-test_dask:
  stage: build_workflows
  image: docker:stable
  services:
  - docker:dind
  script:
  - apk add make git
  - make build PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - make push PREFIX_BUILD=${CI_REGISTRY_IMAGE}
  before_script:
  ...

SIM-776 Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

SIM-776 Update README.md
  README.md
Due: none

SIM-804: updated licence and added contributors list
  CONTRIBUTORS
  LICENCE
  LICENSE
Due: none

SIM-804 update contributors and licence
  CONTRIBUTORS
  LICENCE
Due: none

SIM-842-Ported vis_receive to use the latest changes
  src/workflows/vis_receive/vis_receive.py
Due: build-vis_receive, publish-vis_receive

SIM-841: finalize contributors and licence
  CONTRIBUTORS
  LICENCE
Due: none

SIM-808 ported to use latest workflow library
  src/workflows/vis_receive/vis_receive.py
Due: build-vis_receive, publish-vis_receive

SIM-846 Updated receive chart to work latest chart and construct command list
  src/workflows/vis_receive/vis_receive.py
Due: build-vis_receive, publish-vis_receive

SIM-889: replace sdpfcg with ska-sdp, update workflow development doc
  docs/src/workflow_development.rst
  src/workflows/pss_receive/README.md
  src/workflows/test_new_receive/README.md
  src/workflows/test_receive_addresses/README.md
Due: build-pss_receive, build-test_new_receive, build-test_receive_addresses, publish-pss_receive, publish-test_new_receive, publish-test_receive_addresses

SIM-889: update docs requirements
  docs/requirements.txt
Due: none

SIM-889: add outdated note
  docs/src/workflow_development.rst
Due: none

SIM-895: added examples workflow docs moved from Workflow Library
  docs/src/examples.rst
  docs/src/examples/batch_example.rst
  docs/src/examples/realtime_example.rst
  docs/src/index.rst
  src/workflows/delivery/README.md
Due: build-delivery, publish-delivery

SIM-895: update workflow development doc
  docs/src/examples/batch_example.rst
  docs/src/examples/realtime_example.rst
  docs/src/test_batch.rst
  docs/src/test_realtime.rst
  docs/src/workflow_development.rst
Due: none

AT4-495 - Upgraded PSS docker version number for CBF emulator and PSS pipeline
  src/workflows/pss_receive/deploy-cbf-emulator.yaml
  src/workflows/pss_receive/deploy-sender.yaml
Due: build-pss_receive, publish-pss_receive

SIM-895: reorganize documentation
  docs/src/archive.rst
  docs/src/archive/custom_exec_engine.rst
  docs/src/batch_imaging.rst
  docs/src/delivery.rst
  docs/src/existing_workflows.rst
  docs/src/existing_workflows/batch_imaging.rst
  docs/src/existing_workflows/delivery.rst
  docs/src/existing_workflows/pss_receive.rst
  docs/src/existing_workflows/test_new_receive.rst
  docs/src/existing_workflows/vis_receive.rst
  docs/src/index.rst
  docs/src/pss_receive.rst
  docs/src/test_batch.rst
  docs/src/test_daliuge.rst
  docs/src/test_dask.rst
  docs/src/test_new_receive.rst
  docs/src/test_realtime.rst
  docs/src/test_receive_addresses.rst
  docs/src/test_workflows.rst
  docs/src/test_workflows/test_batch.rst
  docs/src/test_workflows/test_daliuge.rst
  docs/src/test_workflows/test_dask.rst
  docs/src/test_workflows/test_realtime.rst
  docs/src/test_workflows/test_receive_addresses.rst
  docs/src/troubleshooting.rst
  docs/src/vis_receive.rst
  docs/src/workflow_development.rst
Due: none

SIM-895: rename existing_workflows; add a short description to existing and test workflows
  docs/src/examples.rst
  docs/src/existing_workflows.rst
  docs/src/index.rst
  docs/src/test_workflows.rst
  docs/src/workflows.rst
  docs/src/workflows/batch_imaging.rst
  docs/src/workflows/delivery.rst
  docs/src/workflows/pss_receive.rst
  docs/src/workflows/test_new_receive.rst
  docs/src/workflows/vis_receive.rst
Due: none

SIM-895: rename title of example workflows
  docs/src/examples.rst
Due: none

SIM-895: update workflows' documentation
  docs/src/troubleshooting.rst
  src/workflows/batch_imaging/README.md
  src/workflows/delivery/README.md
  src/workflows/pss_receive/README.md
  src/workflows/test_batch/README.md
  src/workflows/test_daliuge/README.md
  src/workflows/test_dask/README.md
  src/workflows/test_new_receive/README.md
  src/workflows/test_realtime/README.md
  src/workflows/test_receive_addresses/README.md
Due: build-batch_imaging, build-delivery, build-pss_receive, build-test_batch, build-test_daliuge, build-test_dask, build-test_new_receive, build-test_realtime, build-test_receive_addresses, publish-batch_imaging, publish-delivery, publish-pss_receive, publish-test_batch, publish-test_daliuge, publish-test_dask, publish-test_new_receive, publish-test_realtime, publish-test_receive_addresses

SIM-895: update readmes after talking to Nijin
  src/workflows/batch_imaging/README.md
  src/workflows/delivery/README.md
  src/workflows/test_daliuge/README.md
  src/workflows/test_new_receive/README.md
  src/workflows/test_receive_addresses/README.md
Due: build-batch_imaging, build-delivery, build-test_daliuge, build-test_new_receive, build-test_receive_addresses, publish-batch_imaging, publish-delivery, publish-test_daliuge, publish-test_new_receive, publish-test_receive_addresses

SIM-895: update PSS receive workflow readme
  src/workflows/pss_receive/README.md
Due: build-pss_receive, publish-pss_receive

SIM-895: add building stage for docs
  .gitlab-ci.yml
Due: none

SIM-895: remove procfunc dir related build stages from CI pipeline
  .gitlab-ci.yml
Due: none

SIM-895: address MR comments
  docs/src/workflow_development.rst
Due: none

SIM-895: update occurrences that refer to the workflows directory
  docs/src/workflow_development.rst
  src/plasma_pipeline/.gitlab-ci.yml
  src/pss_receive/README.md
  src/test_new_receive/.gitlab-ci.yml
Due: none

SIM-895: Update workflow development description
  docs/src/workflow_development.rst
Due: none

SIM-895: Update CI docs job
  .gitlab-ci.yml
Due: none

SIM-895: Reorganise and comment CI jobs
  .gitlab-ci.yml
Due: none

SIM-895: Fix name of git blame config file
  .git-blame-ignore-revs
Due: none

SIM-895: fix typos
  src/pss_receive/README.md
Due: none

SIM-917: update dockerfiles to use python:3.9-slim + update version and readme for all workflows
  .gitlab-ci.yml
  src/delivery/Dockerfile
  src/delivery/README.md
  src/delivery/requirements.txt
  src/delivery/version.txt
  src/plasma_pipeline/Dockerfile
  src/plasma_pipeline/README.md
  src/plasma_pipeline/version.txt
  src/pss_receive/Dockerfile
  src/pss_receive/README.md
  src/pss_receive/version.txt
  src/test_batch/Dockerfile
  src/test_batch/README.md
  src/test_batch/version.txt
  src/test_daliuge/Dockerfile
  src/test_daliuge/README.md
  src/test_daliuge/requirements.txt
  src/test_daliuge/version.txt
  src/test_dask/Dockerfile
  src/test_dask/README.md
  src/test_dask/requirements.txt
  src/test_dask/version.txt
  src/test_new_receive/Dockerfile
  src/test_new_receive/README.md
  src/test_new_receive/version.txt
  src/test_realtime/Dockerfile
  src/test_realtime/README.md
  src/test_realtime/version.txt
  src/test_receive_addresses/Dockerfile
  src/test_receive_addresses/README.md
  src/test_receive_addresses/version.txt
  src/vis_receive/Dockerfile
  src/vis_receive/README.md
  src/vis_receive/version.txt
Due: none

SIM-917: use python3.8-slim for test_daliuge + add versions to workflows.json
  src/plasma_pipeline/README.md
  src/test_daliuge/Dockerfile
  workflows.json
Due: none

SIM-917: fixed doc + added plasma_pipeline.rst
  docs/src/workflows/plasma_pipeline.rst
  src/test_daliuge/README.md
Due: none

SIM-925 - Ported workflows to use latest version of workflow library
  docs/src/test_workflows.rst
  docs/src/workflows.rst
  docs/src/workflows/test_new_receive.rst
  src/plasma_pipeline/README.md
  src/plasma_pipeline/__init__.py
  src/plasma_pipeline/requirements.txt
  src/plasma_pipeline/version.txt
  src/pss_receive/__init__.py
  src/test_batch/README.md
  src/test_batch/__init__.py
  src/test_batch/requirements.txt
  src/test_batch/version.txt
  src/test_daliuge/__init__.py
  src/test_dask/README.md
  src/test_dask/__init__.py
  src/test_dask/requirements.txt
  src/test_dask/version.txt
  src/test_new_receive/.gitlab-ci.yml
  src/test_new_receive/Dockerfile
  src/test_new_receive/Makefile
  src/test_new_receive/README.md
  src/test_new_receive/__init__.py
  src/test_new_receive/cbf_sdp.py
  src/test_new_receive/requirements.txt
  src/test_new_receive/version.txt
  src/test_realtime/README.md
  src/test_realtime/__init__.py
  src/test_realtime/requirements.txt
  src/test_realtime/version.txt
  src/test_receive_addresses/README.md
  src/test_receive_addresses/__init__.py
  src/test_receive_addresses/requirements.txt
  src/test_receive_addresses/test_receive_addresses.py
  src/test_receive_addresses/version.txt
  src/vis_receive/README.md
  src/vis_receive/__init__.py
  src/vis_receive/requirements.txt
  src/vis_receive/version.txt
  src/vis_receive/vis_receive.py
  workflows.json
Due: none

SIM-924 - Updating doc with suggested changes
  src/test_dask/README.md
Due: none

SIM-925 - Updated suggested changes
  src/test_receive_addresses/test_receive_addresses.py
  src/vis_receive/README.md
Due: none

SIM-925 - Removed CI content for test_new_receive workflow
  .gitlab-ci.yml
Due: none

SIM-925 - Updated requirements.txt file for batch_imaging workflow
  src/batch_imaging/requirements.txt
Due: none

Path conditions:
  pss_receive-procfunc: any of: src/procfunc/pss_receive/pss-receive
  vis_receive-procfunc: any of: src/procfunc/vis_receive
  build-batch_imaging: any of: src/workflows/batch_imaging/*
  build-delivery: any of: src/workflows/delivery/*
  build-plasma_pipeline: any of: src/workflows/plasma_pipeline/*
  build-pss_receive: any of: src/workflows/pss_receive/*
  build-test_batch: any of: src/workflows/test_batch/*
  build-test_daliuge: any of: src/workflows/test_daliuge/*
  build-test_dask: any of: src/workflows/test_dask/*
  build-test_new_receive: any of: src/workflows/test_new_receive/*
  build-test_realtime: any of: src/workflows/test_realtime/*
  build-test_receive_addresses: any of: src/workflows/test_receive_addresses/*
  build-vis_receive: any of: src/workflows/vis_receive/*
  publish-batch_imaging: any of: src/workflows/batch_imaging/*
  publish-delivery: any of: src/workflows/delivery/*
  publish-plasma_pipeline: any of: src/workflows/plasma_pipeline/*
  publish-pss_receive: any of: src/workflows/pss_receive/*
  publish-test_batch: any of: src/workflows/test_batch/*
  publish-test_daliuge: any of: src/workflows/test_daliuge/*
  publish-test_dask: any of: src/workflows/test_dask/*
  publish-test_new_receive: any of: src/workflows/test_new_receive/*
  publish-test_realtime: any of: src/workflows/test_realtime/*
  publish-test_receive_addresses: any of: src/workflows/test_receive_addresses/*
  publish-vis_receive: any of: src/workflows/vis_receive/*
